

.Search-Bar{
    background-color: #2874f0;
}
.searchInput{
    padding: 15px;
    
}

.searchButton{
    border-radius:0 ;
    height: 38px;
    color: #2874f0;
}


.search{
    width: 100px;
}
.usernamebutton , .cartbutton{
    height: 38px;
    background-color: white;
    color: #2874f0;
    border-radius: 0;
    width: 80px;
    text-align: center;
    margin: 0 0 0 0;
    padding: 6px 6px;
    text-decoration: none;
}

.cartbutton{
    text-decoration: none;
}
.CompanyName{
    margin: 0 0 0 0;
}

.CompanyLogo{
    color: white;
    text-decoration: none;
}