<div class="Search-Bar">
<div class="container">
<div class="row">
  <div class="col-8">
        <div class="searchInput" #searchInput>
            <div class="input-group">
                <h2 style="color: white;text-align: center;">Compony Logo</h2>
                <input type="text" id="GlobalSearch" placeholder="Search For 50,000+ Products">
                <div class="input-group-append">
                  <button class="btn btn-info" id="SearchButton" type="button" style="height: 45px;">Search</button>
                  
                </div>
              </div>
        </div>
      </div>
        <div class="col-2 ">
          <a href="cart">Cart</a> 
        </div>

        {{username}}
    
</div>
</div>
</div>





