<!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
    aria-expanded="false">
    Sort
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="Released">Released</a>
    <a class="dropdown-item" href="Added"> Added</a>
    <a class="dropdown-item" href="Created">Created</a>
    <a class="dropdown-item" href="Updated">Updated</a>
    <a class="dropdown-item" href="Reting">Reting</a>
  </div>
</div> -->

<app-search-bar></app-search-bar>

<!-- Categories -->
<div class="container">
  <div class="row categories">
    <div class="col-2">
      
     <div (click)="TopOffer()"> <img  src="../../../assets/categories/TopOffer.jpg"></div> 
    </div>
    <div class="col-2">
      <img (click)="Grocery()" src="../../../assets/categories/Grocery.jpg">
    </div>
    <div class="col-2">
      <img (click)="Electronics()" src="../../../assets/categories/Electronics.jpg">
    </div>
    <div class="col-2">
      <img (click)="Fashion()" src="../../../assets/categories/Fashion.jpg">
    </div>
    <div class="col-2">
      <img (click)="Mobiles()" src="../../../assets/categories/Mobiles.jpg">
    </div>
    <div class="col-2">
      <img (click)="HomeProducts()" src="../../../assets/categories/Home.jpg">
    </div>
  </div>
</div>

<!-- Home -->
<div class="conatainer">
<div class="row">
  <div class="col">
    
  
  <div id="carouselExampleSlidesOnly" class="carousel slide "  data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="../../../assets/Hover_Image/2.webp" class="d-block w-100" style="height: 250px;" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="../../../assets/Hover_Image/5.jpg" class="d-block w-100" style="height: 250px;"  alt="...">
      </div>
    
      <div class="carousel-item" data-bs-interval="3000">
        <img src="../../../assets/Hover_Image/4.jpg" class="d-block w-100" style="height: 250px;"  alt="IMage">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="../../../assets/Hover_Image/1.png" class="d-block w-100" style="height: 250px;"  alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="../../../assets/Hover_Image/3.jpg" class="d-block w-100" style="height: 250px;"  alt="...">
      </div>
    </div>
  </div>

  <!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" style="background-color: white;border-radius: 0;width: 50px;height: 50px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
      <div (click)="TopOffer()"> <img  sty src="../../../assets/categories/TopOffer.jpg"></div> 
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div> -->


  <div class="row justify-content-center">
    <div *ngFor="let product of products" id="CardColumn" class="col-md-4 col-lg-3 col-sm-6 col-12">
      <div (click) = "OpenDetailsPage(product.id)" class="card" style="width: 300px; height: auto;">
        <img src="{{product.image}}" class="card-img-top" alt="GTA">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <div class="card-text Description">{{product.description}}</div>
          <div class="card-text"><span class="ratings">{{product.reviews}}</span> Ratings</div>
          <span class="card-text cardPrice"> <span style="font-size: larger;  ">Price : </span>{{product.discountPrice}}</span>
          <span style="color: green; padding-left: 15px; font-size: large;">{{product.discount}}% Off</span>
          <!-- <button (click) = "OpenDetailsPage(product.id)" class="btn btn-primary">Details</button>
          <button style="margin-left: 6px;" class="btn btn-warning" (click)="AddtoCart(product)">Add to Cart</button>
         -->
        </div>
      </div>
    </div>

    {{username}}


  </div>

</div>
</div>
</div>

<br />
<br />
<br />
<footer >

  <h2 class="info"> Company Name: The One-stop Shopping Destination</h2>
  <p class="info">
    E-commerce is revolutionizing the way we all shop in India. Why do you want to hop from one store to another in
    search of the latest phone when you can find it on the Internet in a single click? Not only mobiles. Flipkart houses
    everything you can possibly imagine, from trending electronics like laptops, tablets, smartphones, and mobile
    accessories to in-vogue fashion staples like shoes, clothing and lifestyle accessories; from modern furniture like
    sofa sets, dining tables, and wardrobes to appliances that make your life easy like washing machines, TVs, ACs,
    mixer grinder juicers and other time-saving kitchen and small appliances; from home furnishings like cushion covers,
    mattresses and bedsheets to toys and musical instruments, we got them all covered. You name it, and you can stay
    assured about finding them all here. For those of you with erratic working hours, Flipkart is your best bet. Shop in
    your PJs, at night or in the wee hours of the morning. This e-commerce never shuts down.
    <br />
    <br />
    What's more, with our year-round shopping festivals and events, our prices are irresistible. We're sure you'll find
    yourself picking up more than what you had in mind. If you are wondering why you should shop from Flipkart when
    there are multiple options available to you, well, the below will answer your question
  </p>

  <div class="footer">
    <div class="container">
      <div class="row">

        <div class="col-2">
          <br>
          <div style="color: grey;">ABOUT</div> <br>
          <a href="ContactUs">Contact Us</a><br>
          <a href="AboutUs">About Us</a><br>
          <a href="Careers">Careers</a><br>
          <a href="Wholesale">Wholesale</a><br>
          <a href="CorparateInformation">Corparate Information</a><br><br>
        </div>
        <div class="col-2">
          <br>
          <div style="color: grey;">POLICY</div> <br>
          <a href="ReturnPolicy">Return Policy</a><br>
          <a href="TermOfUse">Term Of Use</a><br>
          <a href="Security">Security</a><br>
          <a href="SiteMap">SiteMap</a><br>
          <a href="ERP Compliance">ERP Compliance</a><br><br>
        </div>
        <div class="col-2">
          <br>
          <div style="color: grey;">SOCIAL</div> <br>
          <a href="FaceBook">FaceBook</a><br>
          <a href="Twitter">Twitter</a><br>
          <a href="Youtube">Youtube</a><br>
          <br><br><br>
        </div>
        <div class="col-3">
          <div style="color: grey;">Reach Us At</div> <br>
          <p>
            Company Internet Private Limited,
            Buildings Alyssa, Begonia &
            Clove Embassy Tech Village,
            Outer Ring Road, Devarabeesanahalli Village,
            Bengaluru, 560103,
            Karnataka, India
          </p>
        </div>
        <div class="col-3">
          <div style="color: grey;">Registered Office At</div> <br>
          <p>
            Company Internet Private Limited,
            Buildings Alyssa, Begonia &
            Clove Embassy Tech Village,
            Outer Ring Road, Devarabeesanahalli Village,
            Bengaluru, 560103,
            Karnataka, India
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>