<app-search-bar></app-search-bar>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="imageDiv" *ngFor="let image of product.ExtraImages"><img class="smallimage"
                    (click)="ImageReplace(image)" src="{{image}}" style="height:100px;" alt="Image"> </div>
        </div>
        <div class="col-md-4 largeImage">
            <!-- <div *ngFor="let image of product.ExtraImages" ><img src="{{image}}" alt="Image"> </div> -->
            <img class="bigImage" src="{{product.image}}" alt="Image">
            <div class="d-flex justify-content-center">
                <button class="btn btn-white BuyNowButton" (click)="WishList()" [ngStyle]="{'background-color':backgroundColor,'color':color}" > <i class="fa fa-light fa fa-heart" style="padding-right: 4px;"></i>{{Wishlist}}</button>
                <button class="btn btn-danger AddtoCartButton" (click)="AddToCart(product)"><i class="fa fa-shopping-cart" style="padding-right: 4px;"></i>Add To Cart</button>
            </div>


        </div>
        <div class="col-md-5">
            <!-- <img src="../../../assets/Resourses/Image/T-Shirts/"> -->
            <h2>{{product.name}}</h2>
            <h4>{{product.description}}</h4>
            <div>
                <div style="color: green;">Special Price</div>
                <div class="price">
                    {{offerPrice}}

                </div>
                <div class="originalPrice">
                    Original Price is &nbsp; <span
                        style="font-size: larger; font-weight: bold;">{{product.price}}</span><br>
                    <div style="color: green;">{{product.discount}}% Off</div>
                </div>

                <span class="ratings">
                    {{product.reviews}}
                </span>&nbsp;
                Ratings
            </div>
            <br><br>

            <div class="size">
                <h3>Size Available</h3>
                <button class="productSize" (click)="SelectedSize(size)" *ngFor="let size of productSize"
                    required>{{size}}</button>
                <!-- [(ngModel)] = "prodSeleted" (ngModelChange)="selectSize($event, product)" -->
            </div>
            <br><br>
            <div class="seller">
                <span style="color: grey;margin-right: 10px;"> Seller :</span>
                {{product.sellerName}}
            </div>
            <br><br>
            <div class="details">
                <div style="color: grey;margin-right: 10px;"> Description </div><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{product.details}}
            </div>

            <br><br><br><br>

         
        </div>
    </div>
</div>
   <!-- Button trigger modal -->
   <button type="button" class="btn btn-primary" id="ModelButton" data-bs-toggle="modal"
   data-bs-target="#exampleModal" hidden>
   Launch demo modal
</button>
<div  class="loginModel">
   <!-- Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
       <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                   <h2 class="modal-title" id="exampleModalLabel">Login</h2>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                <form (ngSubmit)="login(myForm)" #myForm="ngForm" >
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address *</label>
                      <input type="email"
                       class="form-control" 
                       name="username" ngModel 
                       id="exampleInputEmail1"  
                       aria-describedby="emailHelp"
                       required
                       email
                       >
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password *</label>
                      <input type="password" 
                      class="form-control" 
                      name="password" ngModel 
                      id="exampleInputPassword1"
                      required
                      >
                    </div>
                    <button [disabled]="!myForm.valid" type="submit"  class="btn btn-primary">Submit</button>
                    <button type="button" id="CloseModelButton" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </form>
               </div>
           </div>
       </div>
   </div>
</div>



<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
  <div id="liveToast" class="toast {{toastValue}}" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
    <div class="toast-header" style="background-color: rgba(207, 115, 115);">
      <strong class="mr-auto" style="color: Black;">Wish List</strong>
      
      <button type="" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body" >
      Product is removed from Wish list
    </div>
  </div>
</div>
<div class="position-fixed bottom-0 right-0 p-3 toast-container" style="z-index: 5; right: 0; bottom: 0; ">
    <div id="liveToast" class="toast fade {{toastValuetrue}}" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
      <div class="toast-header" style="background-color: rgb(115, 207, 130);">
        <strong class="mr-auto">Wish List</strong>
        
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body" >
        Product is Added to Wish list
      </div>
    </div>
  </div>